.about__container {
    display: flex;
    place-items: center;
    padding: 2rem;
    background: var(--blue-color-300);
}
.heading__container {
    color: var(--blue-color-100);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    display: flex;
    margin: 1rem 0 1rem 0;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
.heading__container svg {
    color: var(--color-secondary)
}

.about-left {
    display: flex;
    text-align: justify;
    margin-right: 3rem;
}

.about-left p {
    color: var(--blue-color-100);
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
}

.about-right img {
    width: 20rem;
    height: auto;
}

@media screen and (max-width:900px) {
    .about__container {
        flex-direction: column-reverse;
        width: 95%;
    }

    .about-left {
        margin-right: 0;
        margin-top: 3rem;
        text-align: left;
    }

    .about-right {
        margin-top: 0;
    }
}
@media screen and (max-width:510px){
    .about-right img{
        width: 14em;
        height: auto;
    }
}
@media screen and (max-width:387px){
    .heading__container{
        font-size: 1.5rem;
    }
}