* {
    margin: 0;
    box-sizing: border-box;
}
.contact__container {
    margin-top: 10rem;
    background: var(--blue-color-300);
    margin-inline: auto;
    width: var(--container-width-lg);
    max-width: 1920px;
    width:var(--container-width-lg);
    border-radius: 1rem;
}

.contact-box {
    width: clamp(100px, 90%, 1000px);
    margin: 80px 50px;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-links, .contact-form-wrapper {
    width: 50%;
    padding: 8% 5% 10% 5%;
    height: 100%;
}


.contact-links {
    height: 100%;
    background-color: #1f2e43;
    background:
        radial-gradient(circle at 55% 92%, #426691 0 12%, transparent 12.2%),
        radial-gradient(circle at 94% 72%, #426691 0 10%, transparent 10.2%),
        radial-gradient(circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%),
        radial-gradient(circle at 0% 0%, #263a53 0 40%, transparent 40.2%),
        #1f2e43;
    border-radius: 10px 0 0 10px;
}
@media only screen and (max-width: 950px){
    .contact__container{
        width:70%;
    }
}
.contact-form-wrapper {
    background-color: var(--blue-color-300);
    border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 800px) {
    .contact-links, .contact-form-wrapper {
        width: 100%;
    }
    .contact-box{
        width:100%;
        margin:auto 0;
    }


    .contact-links {
        border-radius: 10px 10px 0 0;
    }

    .contact-form-wrapper {
        border-radius: 0 0 10px 10px;
    }
}

@media only screen and (max-width: 332px) {
   html{
    font-size: 0.4rem;
    }
}

.contact-links h3 {
    color: #fff;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-align: center;
    transform: scale(.95, 1);
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

.link {
    margin: 10px;
    cursor: pointer;
}
.linkedin {
    outline:none;
    height: 100%;
    width: 100%;
    color:rgb(212, 47, 47);
    
}
.github{
    color: rgb(0, 0, 0);
}
.mail{
    color:rgb(12, 128, 31);
}
.link a svg {
    width: 45px;
    height: 45px;
    filter:
        hue-rotate(220deg) drop-shadow(2px 4px 4px #0006);
    transition: 0.2s;
    user-select: none;
}

.link a svg:hover {
    transform: scale(1.1, 1.1);
}

.link a svg:active {
    transform: scale(1.1, 1.1);
    filter:
        hue-rotate(220deg) drop-shadow(2px 4px 4px #222) sepia(0.3);
}

.form-item {
    position: relative;
    margin-bottom: 0.8rem;
}

label, input, textarea {
    font-family: 'Poppins', sans-serif;
    text-align:right;
}

label {
    position: absolute;
    top: 10px;
    left: 2%;
    color: #999;
    font-size: clamp(14px, 1.5vw, 18px);
    pointer-events: none;
    user-select: none;
}

input, textarea {
    width: 100%;
    outline: 0;
    background: var(--blue-color-600);
    border: 3px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
    color:var(--blue-color-100);
    
}

input:valid+label,
input:focus+label,
textarea:focus+label {
    font-size: clamp(13px, 1.3vw, 16px);
    color: var(--blue-color-600);
    top: -30px;
    transition:var(--transition);
}

.send{
    background-color:var(--blue-color-600)
}
@media only screen and (max-width: 950px) {
    .contact-links h3 {
        font-size:2rem;
    }
    .link a svg{
        height:30px;
        width: 30px;
    }
}

@media only screen and (max-width: 400px) {
    .contact-links h3 {
        font-size: 2rem;
    }

    .links {
        padding-top: 30px;
    }

    .link a svg {
        width: 25px;
        height: 25px;
    }
}