.main__header {
    width: 100vw;
    height: calc(100vh-5rem);
    display:grid;
    place-items: center;
    margin-top: 9rem;
}

.main__header-container {
    height: 100%;
    display: flex;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    justify-content: space-between;
    gap: 4rem;
}

.main__header-left h3 {
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-size: 1.4rem;
    font-weight: 400;
}

.main__header-left p{
    margin: 1rem 0 3.5rem;
    font-size: 1.3rem;
}

.main__header-right {
    display: grid;
    place-items: center;
    position: relative;
}
.socials{
    margin: 5rem 0;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap:2rem;
}
#github{
    color:white;  
    cursor:pointer;  
}
#codechef{
    color:#80e8fd;
    cursor:pointer;
}
#linkedin{
    color:rgb(212, 47, 47);
    cursor:pointer;
}
#instagram{
    color: #27a72c;
    cursor:pointer;
}
#leetcode{
    color:#636363;
    cursor:pointer;
}
#gfg{
    color:rgb(145, 3, 124);
    cursor:pointer;
}
@media screen and (max-width:533px) {
    .socials{
        grid-template-columns: repeat(3,1fr);
        /* justify-content: left; */
        gap:2rem;
    }
}
.main__header-circle {
    width: 25rem;
    height: 25rem;
    background: linear-gradient(75deg, #9d9a9a, transparent);
    border-radius: 5%;
    position: absolute;
    filter: blur(70px);
    transition: var(--transition);
}

.main__header-image {
    position: relative;
}

.main__header-image img {
    cursor: pointer;
   border-bottom-left-radius: 50%;
   border-bottom: 7px solid var(--blue-color-200);
   border-bottom-right-radius: 50%;
   height: 20rem;
   width: auto;
}

.main__header-right:hover .main__header-circle {
    filter: blur(55px);
}
@media screen and (max-width:760px) {
    .main__header-container{
      flex-direction: column-reverse;
    }
    .main__header-left{
        margin-bottom: 6rem;
    }
    .main__header-image img {
        width: 15rem;
        height: auto;
    }
}
@media screen and (max-width:380px) {
   
    
    html{
        font-size: 0.8rem;
    }
    .main__header-container{
        align-items: center;
        justify-content: center;
    }
}